<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
       
        <title>{% block title %}My_Quizz{% endblock %}</title>
        {% block head_css %}
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
       <style>{% include 'css/app.css' %}</style>
       <div id="nav">
            <h1>QUIZZ MA BITE</h1>
       </div>
       
        {% block body %}{% endblock %}
        
    </body>
</html>
